<% if arguments.any? %>
  <% arguments.each do |argument| %>
    <tr>
      <td><%= argument.title %></td>
      <td><%= argument.search_count %></td>
      <td><%= argument.score %></td>
    </tr>
  <% end %>
<% end %>